<div ng-show="log.showTouchID" class="alert alert-success" style="margin:0;" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <i class="fas fa-exclamation-triangle" style="font-size:1.2em"></i>
    You have successfully logged out!
</div>
<div class="side">
    <h1>IS</h1>
</div>


<div class="bg" id="bg">
    <div class="left-panel">
        <a class="logo" href="#">YouLoveLife</a>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="logo-container">
                    <div class="user-logo"><i class="fas fa-question"></i>
                    </div>
                </div>
                <form action="/" id="login" name="loginForm">
                    <div class="group">
                        <input type="text" ng-keyup="log.enter()" name="username" ng-model="log.username" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>

                    <div class="group">
                        <input type="password" ng-keyup="log.enter()" ng-model="log.password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                    <button class="btn btn-default" type="button" ng-click="log.submit()">Login</button>
                    <span class="message" > {{log.message}} </span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bg-footer">
    <div class="footer-left">
        <div class="row">
            <div class="col-footer-left">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="col-footer-right">
                <h3>Before you login</h3>
                <p>Check you address begin from https:// </p>
                <p>You see a lock near address that determining encrypted connection</p>
            </div>
        </div>
    </div>
    <div class="footer-right">
        <div class="row">
        <div class="col-footer-right" style="padding: 7px;text-align: right;">
            <h3><a href="">Learn more about privacy policy</a></h3>
            <h3><a href="">You need help?</a></h3>
        </div>
        <div class="col-footer-left">
            <i class="fas fa-question-circle"></i>
        </div>
    </div>
</div>