<div id="main-menu">
    <ul>
        <li>
            <a href="#"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user"></i> My account</a>
        </li>
        <li>
            <a href="#"> <i class="fas fa-heartbeat"></i> Health contribution</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-briefcase"></i>Labour contribution</a>
        </li>
        <li>
            <a href=""><i class="fa fa-users" aria-hidden="true"></i>Social contrubution</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-sliders-h"></i>Settings</a>
        </li>
    </ul>
</div>