<div id="main-menu">
    <ul>
        <li>
            <a href="/#!/dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/#!/userDetails"><i class="fas fa-user"></i> User details</a>
        </li>
        <li>
            <a href="/#!/healthContribution"> <i class="fas fa-heartbeat"></i> Health contribution</a>
        </li>
        <li>
            <a href="/#!/laborFundContribution"><i class="fa fa-briefcase"></i>Labour contribution</a>
        </li>
        <li>
            <a href="/#!/socialContribution"><i class="fa fa-users" aria-hidden="true"></i>Social contrubution</a>
        </li>
        <li ng-show="menu.company">
            <a href="/#!/company"><i class="fa fa-industry" aria-hidden="true"></i>Company</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-sliders-h"></i>Settings</a>
        </li>
    </ul>
</div>