<div id="main-menu">
    <ul>
        <li>
            <a href="#"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user"></i> My account</a>
        </li>
        <li>
            <a href="#"> <i class="fas fa-heartbeat"></i> Insurence and payers</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-plus"></i> Health insurence data</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-dollar-sign"></i> Calculator</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-cart-plus"></i> Orders</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-sliders-h"></i> Settings</a>
        </li>
    </ul>
</div>