
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="nav-all-collapse">
                <div class="navbar-header">
                    <a class="logo" href="#">YouLoveLife</a>
                </div>
                <form class="nav navbar-form navbar-left">
                    <div class="form-group">
                        <div class="inner-addon left-addon">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fas fa-search" id="search-icon"></i></a></li>
                    <li><a href="#"><i class="fas fa-bars" id="menu-icon"></i></a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header" style="background: #f0f0f0;">
                                <h4>Notification centre</h4>
                            </li>
                            <ul class="notify-list">
                            <li class="notify-list-elem" ng-repeat="row in nav.messages">
                                <a href="#"><h4 ng-style="!row.readed ? { 'font-weight': 'bold' } : {}">{{row.topic}}</h4></a>
                            </li>
                            </ul>
                        </ul>
                    </li>
                    <li><span class="badge">{{nav.unread}}</span></li>
                    <li><a href="/#!/userDetails">{{nav.username}}</a></li>
                    <li><a href="" ng-click="nav.submit()">Logout</a></li>
                </ul>
                </div>
                <div class="nav-search-collapse">
                    <div class="container">
                    <ul class="navbar-header">
                        <li><a href="#"><i class="fas fa-long-arrow-alt-left" id="back-icon"></i></a></li>
                    </ul>
                    <form class="nav navbar-left">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <input type="text" class="form-control2" placeholder="Search">
                                <i class="fa fa-search" ></i>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </nav>

