
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="nav-all-collapse">
                <div class="navbar-header">
                    <a class="logo" href="#">YouLoveLife</a>
                </div>
                <form class="nav navbar-form navbar-left">
                    <div class="form-group">
                        <div class="inner-addon left-addon">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="nav.search()"><i class="fas fa-search" id="search-icon"></i></a></li>
                    <li><a href="" ng-click="nav.menu()"><i class="fas fa-bars" id="menu-icon"></i></a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header" style="background: #f0f0f0;">
                                <h4>Go to Notification centre</h4>
                            </li>
                            <ul class="notify-list">
                            <li class="notify-list-elem" ng-repeat="row in nav.messages">
                                <a href ng-click="nav.unCheckMessage(row.id)"><h5 ng-style="!row.readed ? { 'font-weight': 'bold' } : {}">{{row.topic}}</h5></a>
                            </li>
                            </ul>
                        </ul>
                    </li>
                    <li ng-show="nav.showBadge"><span class="badge">{{nav.unread}}</span></li>
                    <li><a href="/#!/userDetails" ng-bind="nav.username"></a></li>
                    <li><a href="" ng-click="nav.submit()">Logout</a></li>
                </ul>
                </div>
                <div class="nav-search-collapse">
                    <div class="container">
                    <ul class="navbar-header">
                        <li><a href="" ng-click="nav.searchBack()"><i class="fas fa-long-arrow-alt-left" id="back-icon"></i></a></li>
                    </ul>
                    <form class="nav navbar-left">
                        <div class="form-group">
                            <div class="inner-addon left-addon">
                                <input type="text" class="form-control2" placeholder="Search">
                                <i class="fa fa-search" ></i>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </nav>

  <!-- Message modal -->
  <div class="modal fade" id="personalData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Personal data</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>Name</strong>
                    <p>{{user.firstName}}</p>
                    <strong>Surname</strong>
                    <p>{{user.secondName}}</p>
                </div>
                <div class="col-md-6">
                    <strong>Date of birth</strong>
                    <p>{{user.dateOfBirth | date:"MM/dd/yyyy"}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>