
        
            <div id="main-content">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fas fa-heart"></i>Your last actions</div>
                            <div class="panel-body">
                                <p><i class="fas fa-caret-right"></i>New pending payment</p>
                                <p><i> Yestarday, 12:13PM</i></p>
                                <p><i class="fas fa-caret-right"></i>User settings has been changed</p>
                                <p><i>Sat, 24 Mar 2018, 5:11PM</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Calculator</h3>
        
                                <p>Our consultants are working at 8AM - 22PM 7 Days a Week</p>
                                <i class="fas fa-chart-line"></i>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fas fa-heart"></i>Virtual consultant</div>
                            <div class="panel-body">
                                <p>Our consultants are working at 8AM - 22PM 7 Days a Week</p>
                                <p><a href="#" class="btn btn-primary" role="button">Call</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
