
        <div id="main-content">
            <ol class="breadcrumb">
                    <li><a href="/#!/dashboard">Dashboard</a></li>
                    <li class="active">Company</li>
            </ol>
            <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Company</h3>
                                <hr class="hr-cart">
                                <div ng-show="cmp.noCompanyInfo" class="alert alert-info" style="margin:0;" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <i class="fas fa-exclamation-triangle" style="font-size:1.2em"></i>
                                    You have no registered company.
                                </div>
                                <ul class="nav nav-tabs" ng-show="cmp.companyTabs">
                                        <li role="presentation" ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Details</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Employees</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Applications</a></li>
                                </ul>
                                <div style="padding: 10px 0;" ></div>
                                <div ng-show="cmp.companyTabs">
                                    <div ng-show="isSet(1)">
                                        <div class="row">
                                            <div class="col-md-12">
                                                    <label>Company name:</label>
                                                    <h4>{{cmp.companyName}}</h4>
                                                    <hr>
                                                    <label>City:</label>
                                                    <p>{{cmp.companyAddressCity}}</p>
                                                    <label>Street:</label>
                                                    <p>{{cmp.companyAddressStreet}}</p>
                                                    <label>Postal code:</label>
                                                    <p>{{cmp.companyAddressPost}}</p>
                                                    <label>Building:</label>
                                                    <p>{{cmp.companyAddressBuilding}}</p>
                                                    <label>Country:</label>
                                                    <p>{{cmp.companyAddressCountry}}</p>
                                                    <hr>
                                                    <label>Taxpayer ID:</label>
                                                    <p>{{cmp.companyTID}}</p>
                                                    <label>Bussiness Register Number:</label>
                                                    <p>{{cmp.companyBRN}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="isSet(2)">
                                            <div class="row">
                                                    <div class="col-md-12 col-xs-12">
                                                        <table class="table table-striped">
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Firstname</th>
                                                                <th>Lastname</th> 
                                                                <th>Username</th> 
                                                                <th>Actions</th> 
                                                            </tr>
                                                            <tr ng-repeat="row in cmp.employees">
                                                                <td>{{row.id}}</td>
                                                                <td>{{row.name}}</td>
                                                                <td>{{row.surname}}</td>
                                                                <td>{{row.username}}</td>
                                                                <td><a href="" data-toggle="modal" ng-click="cmp.setEmployer()" data-target="#showEmployerInfo">Details</a></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                    </div>
                                    <div ng-show="isSet(3)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        
     <!-- Employer info -->
     <div class="modal fade" id="showEmployerInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send message to all</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label for="inputUser">Subject</label>
                                        <input type="text" ng-model="admn.subjectAllInput" class="form-control" id="inputUser">
                                </div>
                                <div class="form-group">
                                        <label for="inputUser">Message</label>
                                        <textarea class="form-control" ng-model="admn.messageAllInput" rows="20"></textarea>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="admn.submitAll()">Send</button>
                </div>
            </div>
            </div>
        </div>