
        <div id="main-content">
            <ol class="breadcrumb">
                    <li><a href="/#!/dashboard">Dashboard</a></li>
                    <li class="active">Company</li>
            </ol>
            <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Company</h3>
                                <hr class="hr-cart">
                                <div ng-show="cmp.noCompanyInfo" class="alert alert-info" style="margin:0;" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <i class="fas fa-exclamation-triangle" style="font-size:1.2em"></i>
                                    You have no registered company.
                                </div>
                                <div ng-show="cmp.applicationSendInfo" class="alert alert-success" style="margin:0;" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <i class="fas fa-exclamation-triangle text-success" style="font-size:1.2em"></i>
                                    Application send successfully.
                                </div>
                                <ul class="nav nav-tabs" ng-show="cmp.companyTabs">
                                        <li role="presentation" ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Details</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Employees</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Applications</a></li>
                                </ul>
                                <div style="padding: 10px 0;" ></div>
                                <div ng-show="cmp.companyTabs">
                                    <div ng-show="isSet(1)">
                                        <div class="row">
                                            <div class="col-md-12">
                                                    <label>Company name:</label>
                                                    <h4>{{cmp.companyName}}</h4>
                                                    <hr>
                                                    <label>City:</label>
                                                    <p>{{cmp.companyAddressCity}}</p>
                                                    <label>Street:</label>
                                                    <p>{{cmp.companyAddressStreet}}</p>
                                                    <label>Postal code:</label>
                                                    <p>{{cmp.companyAddressPost}}</p>
                                                    <label>Building:</label>
                                                    <p>{{cmp.companyAddressBuilding}}</p>
                                                    <label>Country:</label>
                                                    <p>{{cmp.companyAddressCountry}}</p>
                                                    <hr>
                                                    <label>Taxpayer ID:</label>
                                                    <p>{{cmp.companyTID}}</p>
                                                    <label>Bussiness Register Number:</label>
                                                    <p>{{cmp.companyBRN}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="isSet(2)">
                                            <div class="row">
                                                    <div class="col-md-12">
                                                            <form class="form-inline">
                                                                    <div class="form-group">
                                                                        <label for="inputUser" >Find employer</label>
                                                                        <input type="text" class="form-control" id="inputUser" ng-model="userInput" ng-change="admn.userVal()" placeholder="Enter keyword">
                                                                    </div>
                                                            </form>
                                                    </div>
                                                </div>
                                                <div style="padding: 10px 0;" ></div>
                                            <div class="row">
                                                    <div class="col-md-12 col-xs-12">
                                                        <table class="table table-striped">
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Firstname</th>
                                                                <th>Lastname</th> 
                                                                <th>Username</th> 
                                                                <th>Actions</th> 
                                                            </tr>
                                                            <tr ng-repeat="row in cmp.employees|filter:userInput">
                                                                <td>{{row.id}}</td>
                                                                <td>{{row.name}}</td>
                                                                <td>{{row.surname}}</td>
                                                                <td>{{row.username}}</td>
                                                                <td>
                                                                    <a href="" data-toggle="modal" ng-click="cmp.setEmployer(row.id)" data-target="#showEmployerInfo">Details</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                    </div>
                                    <div ng-show="isSet(3)">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Please select type of application</h4>
                                                <form action="" class="form-inline">
                                                    <div class="form-group">
                                                        <select class="form-control" ng-model="cmp.selectedType">
                                                            <option value="NEW_COMPANY">Register new company</option>
                                                        </select>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="cmp.showAppSummary()" data-target="#showAppSummary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        
     <!-- Employer info -->
     <div class="modal fade" id="showEmployerInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{cmp.eName}} {{cmp.eSurname}} personal data</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                              <strong>Name</strong>
                              <p>{{cmp.eName}}</p>
                              <strong>Surname</strong>
                              <p>{{cmp.eSurname}}</p>
                              <strong>Date of birth</strong>
                            <p>{{cmp.eDateOfBirth | date:"MM/dd/yyyy"}}</p>
                        </div>
                        <div class="col-xs-6">
                                <strong>Street</strong>
                                <p>{{cmp.eaStreet}}</p>
                                <strong>Building</strong>
                                <p>{{cmp.eaBuild}}</p>
                                <strong>City</strong>
                                <p>{{cmp.eaCity}}</p>   
                                <strong>Zip/Postal code</strong>
                                <p>{{cmp.eaPost}}</p>   
                        </div>
                    </div>
                    <hr class="hr-cart">
                    <h4>Health Contribution</h4>
                    <div class="row">
                        <div class="col-xs-6">
                                <strong>Status</strong>
                                <p>{{cmp.hc}}</p>
                                <strong>Amount</strong>
                                <p>{{cmp.hcAmount}}</p>
                        </div>
                        <div class="col-xs-6">
                                <strong>From date</strong>
                                <p>{{cmp.hcFromDate | date:"MM/dd/yyyy"}}</p>
                                <strong>To Date</strong>
                                <p>{{cmp.hcToDate | date:"MM/dd/yyyy"}}</p>
                        </div>
                    </div>
                    <hr class="hr-cart">
                    <h4>Labor fund Contribution</h4>
                    <div class="row">
                        <div class="col-xs-6">
                                <strong>Status</strong>
                                <p>{{cmp.lf}}</p>
                                <strong>Amount</strong>
                                <p>{{cmp.lfAmount}}</p>
                        </div>
                        <div class="col-xs-6">
                                <strong>From date</strong>
                                <p>{{cmp.lfFromDate | date:"MM/dd/yyyy"}}</p>
                                <strong>To Date</strong>
                                <p>{{cmp.lfToDate | date:"MM/dd/yyyy"}}</p>
                        </div>
                    </div>
                    <hr class="hr-cart">
                    <h4>Social contribution</h4>
                    <div class="row">
                        <div class="col-xs-6">
                                <strong>Status</strong>
                                <p>{{cmp.sc}}</p>
                                <strong>Amount</strong>
                                <p>{{cmp.scAmount}}</p>
                        </div>
                        <div class="col-xs-6">
                                <strong>From date</strong>
                                <p>{{cmp.lfFromDate | date:"MM/dd/yyyy"}}</p>
                        </div>
                    </div>
                    <hr class="hr-cart">
                    <h4>Pension</h4>
                    <div class="row">
                            <div class="col-xs-6">
                                    <strong>Status</strong>
                                    <p>{{cmp.scp}}</p>
                                    <strong>Amount</strong>
                                    <p>{{cmp.scpAmount}}</p>
                            </div>
                            <div class="col-xs-6">
                                    <strong>From date</strong>
                                    <p>{{cmp.scpFromDate | date:"MM/dd/yyyy"}}</p>
                            </div>
                        </div>
                        <hr class="hr-cart">
                        <h4>Rent</h4>
                        <div class="row">
                                <div class="col-xs-6">
                                        <strong>Status</strong>
                                        <p>{{cmp.scr}}</p>
                                        <strong>Amount</strong>
                                        <p>{{cmp.scrAmount}}</p>
                                </div>
                                <div class="col-xs-6">
                                        <strong>From date</strong>
                                        <p>{{cmp.scrFromDate | date:"MM/dd/yyyy"}}</p>
                                        <strong>From date</strong>
                                        <p>{{cmp.scrToDate | date:"MM/dd/yyyy"}}</p>
                                </div>
                            </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

           
     <!-- Application Summary -->
     <div class="modal fade" id="showAppSummary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New application summary</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>Type</strong>
                            <p>{{cmp.aType}}</p>
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                    <h3>Applicant data</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>Name</strong>
                            <p>{{cmp.aName}}</p>
                            <strong>Surname</strong>
                            <p>{{cmp.aSurname}}</p>
                            <strong>Id</strong>
                            <p>{{cmp.aId}}</p>
                        </div>
                        <div class="col-xs-6">
                            <strong>Street</strong>
                            <p>{{cmp.aStreet}}</p>
                            <strong>Building</strong>
                            <p>{{cmp.aBuilding}}</p>
                            <strong>City</strong>
                            <p>{{cmp.aCity}}</p>
                            <strong>Zip/Postal Code</strong>
                            <p>{{cmp.aPostal}}</p>
                        </div>
                    </div>
                    <div style="padding: 10px 0;"></div>
                    <div class="row" style="position:absolute;bottom:0">
                        <div class="col-xs-12">
                            <h2 class="text-success">Fee: $0.01</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <div id="paypal-button-container"></div>
                </div>
            </div>
            </div>
        </div>