
        <div id="main-content">
                <div class="row">
                       <!--
                                <ul class="nav nav-tabs">
                                        <li role="presentation" ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Personal information</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Orders</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Notifications</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(4) }"><a href ng-click="setTab(4)">User settings</a></li>
                                </ul>
                                <div ng-show="isSet(1)">
                                        <h2>Account summary</h2>
                                        <div class="row">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-6">
                                                <h3>{{user.fullName}}</h3>
                                                <div class="btn btn-primary">Update settings</div>
                                            </div>
                                        </div>
                                    </div>
                                <div ng-show="isSet(2)">
                                </div>  
                        </div>-->
                        <div class="col-xs-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                         <h3>Notification managment</h3>
                                         <hr class="hr-cart">
                                         <div class="row">
                                         <div class="col-md-6">
                                                <div><a href="" class="text-primary" data-toggle="modal" data-target="#personalData">Create message</a></div>
                                               
                                          </div>
                                          <div class="col-md-6">
                                               
                                          </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                             <h3>Applications managment</h3>
                                             <hr class="hr-cart">
                                             <div class="row">
                                             <div class="col-md-6">
                                                <div><a href="/#!/admin/notifications" class="text-primary">Applications list</a></div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                          <h3>User managment</h3>
                                          <hr class="hr-cart">
                                          <div class="row">
                                              <div class="col-md-6">
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#personalData">Edit user</a></div>
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#contactDetails">Create user</a></div>
                                              </div>
                                              <div class="col-md-6">
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#contactDetails">User reports</a></div>
                                              </div>
                                          </div>               
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
