@font-face {
    font-family: "PT Sans Narrow";
    src: url(../fonts/PTN57F.ttf);
}
@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url(../fonts/PTN77F.ttf);
}
body{
    font-family: "PT Sans Narrow Bold", sans-serif;
    color: #373e48;
}
.navbar {
    border-radius: 0px;
}
.navbar-form{
    margin: 0;
}
.navbar-nav>li{
    padding: 9px 15px;
}
.navbar-nav>li>a{
    padding: 0;
    color: #373e48 !important;
    font-size: 1.1em;
}
.navbar-form .form-control{
    text-align: right;
    border-radius: 0;
    width: 500px;
    background: #f8f8f8;
}
.inner-addon {
    position: relative;
}
.inner-addon i {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    color: #373e48;
}
.inner-addon input::placeholder {
    color: #373e48;
}
.navbar-default{
    background: #fff;
    padding: 18px 0;
}
.logo{
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    width: 200px;
    height: 35px;
    margin-top:5px;
    background-size: 50%;
}