@font-face {
    font-family: "PT Sans Narrow";
    src: url(../fonts/PTN57F.ttf);
}
@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url(../fonts/PTN77F.ttf);
}
body{
    font-family: "PT Sans Narrow Bold", sans-serif;
    color: #373e48;
}
a{
    color: #535c68 !important;
    text-decoration: none !important;
}
.navbar {
    border-radius: 0px;
}
.navbar-form{
    margin: 0;
}
.navbar-nav>li{
    padding: 9px 15px;
}
.navbar-nav>li>a{
    padding: 0;
    color: #fff !important;
    font-size: 1.1em;
}
.navbar-form .form-control{
    text-align: right;
    border-radius: 0;
    width: 447px;
    background: #f8f8f8;
}
.inner-addon {
    position: relative;
}
.inner-addon i {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    color: #373e48;
}
.inner-addon input::placeholder {
    color: #373e48;
}
.navbar-default{
    background: #535c68;
    border: 0;
    padding: 18px 0;
}
.logo{
    text-indent: -9999px;
    background: url(../images/logo-dark.png) no-repeat;
    display: block;
    width: 200px;
    height: 35px;
    margin-top:5px;
    background-size: 50%;
}
.nav-search-collapse{
    display: none;
}
.form-control2{
    display: block;
    width: 100%;
    text-align: right;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.nav-search-collapse .navbar-header{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-search-collapse .navbar-header li{

}

.nav-search-collapse .navbar-left{
    width: calc(100% - 60px);
    float: right;
}
.nav-search-collapse .navbar-header li i{
    padding: 9.5px 12px;
    margin: 0 10px;
    border: 1px solid #ccc;
    color: #fff;
}
.nav-search-collapse .form-group{
    margin-bottom: 5px;
}

#main-menu{
    float: left;
    width: 200px;
}
#main-content{
    float:left;
    margin-left: 15px;
    width: calc(100% - 215px);
}

#main-menu ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
#main-menu li{
    font-size: 1.2em;
}
#main-menu li:hover{
    background: #f8f8f8;
}

#main-menu li a{
    width: 170px;
    display: block;
    float: left;
    padding: 8px 0;
}
#main-menu li i{
    width: 30px;
    text-align: center;
    display: block;
    float:left;
    line-height: 24px;
}
#main-menu li:after{
    content:"";
    clear:both;
    display:block;
}
#main-menu h3{
    color: #555555;
    margin-left: 5px;
}
.panel-heading{
    font-size: 1.3em;
}
.panel{
    border-radius: 0;
}
.panel-heading i{
    font-size: 1em;
    border: 1px solid #aaa;
    padding: 6px 4px 4px;
    color: #00a8ff;
    margin-right: 10px;
}
.panel-body{
    font-family: "PT Sans Narrow";
}
.panel-body .fas{
    color: #00a8ff;
    font-size: 1.3em;
    margin-right: 5px;
    margin-top:2px;
}
.btn{
    border-radius: 0;
    color: #fff !important;
    font-family: "PT Sans Narrow Bold";
    font-size: 1.1em;
    padding: 8px 16px;
    border: 0;
}
.btn-primary{
    background-color: #00a8ff;
}