@font-face {
    font-family: "PT Sans Narrow";
    src: url(../fonts/PTN57F.ttf);
}
@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url(../fonts/PTN77F.ttf);
}
body{
    font-family: "PT Sans Narrow Bold", sans-serif;
    color: #373e48;
}
.navbar {
    border-radius: 0px;
}
.navbar-form{
    margin: 0;
}
.navbar-nav>li{
    padding: 9px 15px;
}
.navbar-nav>li>a{
    padding: 0;
    color: #373e48 !important;
    font-size: 1.1em;
}
.navbar-form .form-control{
    text-align: right;
    border-radius: 0;
    width: 500px;
    background: #f8f8f8;
}
.inner-addon {
    position: relative;
}
.inner-addon i {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    color: #373e48;
}
.inner-addon input::placeholder {
    color: #373e48;
}
.navbar-default{
    background: #fff;
    padding: 18px 0;
}
.logo{
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    width: 200px;
    height: 35px;
    margin-top:5px;
    background-size: 50%;
}
.nav-search-collapse{
    display: none;
}
.form-control2{
    display: block;
    width: 100%;
    text-align: right;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.nav-search-collapse .navbar-header{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-search-collapse .navbar-header li{

}

.nav-search-collapse .navbar-left{
    width: calc(100% - 60px);
    float: right;
}
.nav-search-collapse .navbar-header li i{
    padding: 9.5px 12px;
    margin: 0 10px;
    border: 1px solid #ccc;
    color: #373e48;
}
.nav-search-collapse .form-group{
    margin-bottom: 5px;
}