<div id="main-content">
        <ol class="breadcrumb">
                <li><a href="/#!/dashboard">Dashboard</a></li>
                <li><a href="/#!/admin">Admin</a></li>
                <li class="active">Notifications</li>
        </ol>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Manage notifications</h3>
                        <hr class="hr-cart">
                        <div class="row">
                            <div class="col-md-12">
                                    <form class="form-inline">
                                            <div class="form-group">
                                                <label for="inputUser" >Find user</label>
                                                <input type="text" class="form-control" id="inputUser" ng-model="admn.userInput" ng-change="admn.userVal()" placeholder="Enter keyword">
                                            </div>
                                    </form>
                            </div>
                        </div>
                        <div style="margin:10px 0;"></div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <table class="table table-striped">
                                    <tr>
                                        <th>ID</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th> 
                                        <th>Username</th> 
                                        <th>Actions</th> 
                                    </tr>
                                    <tr ng-repeat="row in admn.userList">
                                        <td>{{row.id}}</td>
                                        <td>{{row.name}}</td>
                                        <td>{{row.surname}}</td>
                                        <td>{{row.username}}</td>
                                        <td><i class="fa fa-envelope" aria-hidden="true" data-toggle="modal" ng-click="admn.setUser(row.id)" data-target="#sendMessage" style="color: #00a8ff;font-size: 1.1em;cursor:pointer;"></i>
                                        </td>
                                    </tr>
                                </table>
                                <div  style="width:25px;margin:0 auto;"> <i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show="admn.loading"></i></div>

                                <button class="btn btn-danger text-right" style="float:right" data-toggle="modal" data-target="#sendMessageAll">Send to all</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Send message all modal -->
     <div class="modal fade" id="sendMessageAll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send message to all</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label for="inputUser">Subject</label>
                                        <input type="text" ng-model="admn.subjectAllInput" class="form-control" id="inputUser">
                                </div>
                                <div class="form-group">
                                        <label for="inputUser">Message</label>
                                        <textarea class="form-control" ng-model="admn.messageAllInput" rows="20"></textarea>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="admn.submitAll()">Send</button>
                </div>
            </div>
            </div>
        </div>

         <!-- Send message to suer modal -->
     <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send message to {{admn.name}} ({{admn.username}})</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label for="inputUser">Subject</label>
                                        <input type="text" ng-model="admn.subjectUserInput" class="form-control" id="inputUser">
                                </div>
                                <div class="form-group">
                                        <label for="inputUser">Message</label>
                                        <textarea class="form-control" ng-model="admn.messageUserInput" rows="20"></textarea>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="admn.submitUser()">Send</button>
                </div>
            </div>
            </div>
        </div>