<div id="main-content">
        <ol class="breadcrumb">
                <li><a href="/#!/dashboard">Dashboard</a></li>
                <li class="active">Health contribution</li>
        </ol>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Health contribution</h3>
                        <hr class="hr-cart">
                        <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Summary</a></li>
                                <li role="presentation" ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">History</a></li>
                                <li role="presentation" ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Applications</a></li>
                        </ul>
                        <div style="padding: 10px 0"></div>
                        <div ng-show="isSet(1)">
                            <div ng-show="hea.active">
                                  <div class="row">
                                      <div class="col-md-6">
                                            <h4>Total amount: <span class="text-primary">$ {{hea.amount}}</span></h4>
                                            <p>Date: {{hea.date | date:"MM/dd/yyyy"}}</p>
                                            <p>Insurence status: {{hea.info}}</p>
                                      </div>
                                      <div class="col-md-6">

                                      </div>
                                  </div>  
                            </div> 
                        </div>  
                        <div ng-show="isSet(2)">
                               
                        </div>  
                        <div ng-show="isSet(3)">
                               
                            </div>  
                    </div>
                </div>
            </div>
        </div>
</div>
