            <div id="main-content">
                <div class="row">
                       <!--
                                <ul class="nav nav-tabs">
                                        <li role="presentation" ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)">Personal information</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)">Orders</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)">Notifications</a></li>
                                        <li role="presentation" ng-class="{ active: isSet(4) }"><a href ng-click="setTab(4)">User settings</a></li>
                                </ul>
                                <div ng-show="isSet(1)">
                                        <h2>Account summary</h2>
                                        <div class="row">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-6">
                                                <h3>{{user.fullName}}</h3>
                                                <div class="btn btn-primary">Update settings</div>
                                            </div>
                                        </div>
                                    </div>
                                <div ng-show="isSet(2)">
                                </div>  
                        </div>-->
                        <div class="col-xs-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                         <h3>Your profile</h3>
                                         <hr class="hr-cart">
                                         <div><a href="" class="text-primary" data-toggle="modal" data-target="#summary">Summary</a></div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                             <h3>Notifications</h3>
                                             <hr class="hr-cart">
                                             <a href="/#!/"></a>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                          <h3>Your personal data</h3>
                                          <hr class="hr-cart">
                                          <div class="row">
                                              <div class="col-md-6">
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#personalData">Personal data</a></div>
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#contactDetails">Contact details</a></div>
                                              </div>
                                              <div class="col-md-6">
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#address">Address</a></div>
                                                    <div><a href="" class="text-primary" data-toggle="modal" data-target="#addressRegistered">Registered address</a></div>
                                              </div>
                                          </div>               
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
       
      <!-- Personal data -->
      <div class="modal fade" id="personalData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Personal data</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Name</strong>
                            <p>{{user.firstName}}</p>
                            <strong>Surname</strong>
                            <p>{{user.secondName}}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Date of birth</strong>
                            <p>{{user.dateOfBirth | date:"MM/dd/yyyy"}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>

                <!-- Address -->
      <div class="modal fade" id="address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Address</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Street</strong>
                            <p>{{user.street}}</p>
                            <strong>Building</strong>
                            <p>{{user.building}}</p>
                            <strong>Country</strong>
                            <p>{{user.country}}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>City</strong>
                            <p>{{user.city}}</p>
                            <strong>Zip/Postal code</strong>
                            <p>{{user.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>
             <!-- Registered Address -->
      <div class="modal fade" id="addressRegistered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Registered address</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Street</strong>
                            <p>{{user.street}}</p>
                            <strong>Building</strong>
                            <p>{{user.building}}</p>
                            <strong>Country</strong>
                            <p>{{user.country}}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>City</strong>
                            <p>{{user.city}}</p>
                            <strong>Zip/Postal code</strong>
                            <p>{{user.postcode}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>

            <!--Contact details -->
      <div class="modal fade" id="contactDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Personal data</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Phone</strong>
                            <p>{{user.phone}}</p>
                            <strong>E-mail address</strong>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Social</strong>
                            <p>{{user.skype}}</p>
                            <p>{{user.facebook}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>

           <!--Summary -->
      <div class="modal fade" id="summary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Summary</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="user.healthContributionView">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Health contribution details</h4>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <strong>Status</strong>
                                    <p>Active</p>
                                </div>
                                <div class="col-md-6">
                                    <strong>Since</strong>
                                    <p>{{user.healthContributionFromDate | date:"MM/dd/yyyy"}}</p>
                                    <strong>Expiration date</strong>
                                    <p>{{user.healthContributionToDate | date:"MM/dd/yyyy"}}</p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>
